/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 0.85rem;
}
h2 {
    font-size: 2rem;
    padding-bottom: 10%;
}
h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
}

.logo img {
    width: 25%;
}

.button {
    padding: 0.3rem 0.65rem;
    width: max-content;
}

.button.primary {
    background-color: var(--db-primary-button);
    color: white;
    font-weight: 300;
    font-size: 0.75rem;
}

.button.big {
    padding: 0.4rem 2rem;
}

.dot {
    border-radius: 50%;
    vertical-align: middle;
}


.dot.selected {
    border: 0.25rem solid var(--db-primary-button);
    padding: 0.25rem;
}

.dot.unselected {
    padding: 0.4rem;
    border: 0.1rem solid var(--db-light-bg);
}


/* #endregion common */

/* #region utility */
.container_fluid {
    width: 100%;
    margin: auto;
}

.container_med {
    width: 70%;
    margin: auto;
}

.container_sm {
    width: 55%;
    margin: auto;
}

:root {
    --db-colored-bg: #B4D0E7;
    --db-primary-button: #0061FF;
    --light-text: #999999;
    --db-light-bg: #D0D0D3;
    --db-lighter-bg: #F5F5F5;
    --db-h2-secondary: #61082B;
    --db-light: white;
    --db-dark: black;
}

.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 *2);
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_4 {
    width: calc(100% / 12 *4);
}

.col_5 {
    width: calc(100% / 12 *5);
}

.col_6 {
    width: calc(100% / 12 *6);
}

.col_7 {
    width: calc(100% / 12 *7);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_9 {
    width: calc(100% / 12 *9);
}

.col_10 {
    width: calc(100% / 12 *10);
}

.col_11 {
    width: calc(100% / 12 *11);
}

.col_12 {
    width: calc(100% / 12 *12);
}

.row {
    display: flex;
    flex-wrap: wrap;

}
.my_3{
    margin: 3rem 0;
}
.mt_3 {
    margin-top: 3rem;
}

.mb_075 {
    margin-bottom: 0.75rem;
}

.d_flex {
    display: flex;
}

.y_center {
    align-self: center;
}

.position_r {
    position: relative;
}

.position_a {
    position: absolute;
}


/* #endregion utility */

/* #region debug */

.debug main .container_fluid.hero_image {
    background-color: rgb(115, 206, 239);
    height: 400px;
}


.debug .row {
    height: 100%;
}

.debug .col_2 {
    background: white;
    border: 1px solid;
}

.debug .col_4 {
    background-color: rgb(226, 226, 139);
}

.debug .col_8 {
    background-color: rgb(137, 230, 121);
}

.debug .col_3 {
    background-color: aquamarine;
}

.debug .plan.top {
    height: 100px;
}

.debug .plan .col_3 {
    height: 300px;
}

.debug .team {
    height: 150px;
}

.debug .team.top {
    height: 20px;
}

.debug .get_in_touch {
    height: 300px;
}

.debug .col_7 {
    background-color: deeppink;
}

.debug .col_5 {
    background-color: deepskyblue;
}

.debug .db_busines {
    height: 600px;
}

.debug .db_busines .col_4 {
    height: 50%;
    border: 1px solid;
}

.debug .feedback {
    height: 400px;
}

.debug .feedback .col_4,
.debug .feedback .col_6 {
    border: 1px solid;
}

.debug .feedback .col_4 {
    height: 100%;
    border: 1px solid;
}

.debug .feedback .col_6 {
    height: 50%;
    background-color: aquamarine;
}

.debug .prova {
    height: 300px;
    background-color: var(--db-colored-bg);
}

.debug .q-a {
    height: 400px;
    background-color: aquamarine;
}

.debug .question {
    height: calc(100% / 4);
}

.debug footer {
    height: 50vh;
}

/* #endregion debug */



/* #region header */

header>.container_fluid {
    height: 8vh;
    position: fixed;
    background-color: var(--db-light);
    z-index: 1000;
}

header .menu {
    padding: 1rem 1.5rem;
}

.menu a {
    padding: 0.5rem;
    text-decoration: none;
    color: var(--db-dark);
    font-size: 0.75rem;
    font-weight: 200;
}

nav {
    padding: 0 0.5rem;
    vertical-align: middle;
}

nav.d_flex {
    justify-content: end;
}

header .logo {
    width: 15%;
}

header .logo img {
    width: 100%;
    vertical-align: middle;
}

/* #endregion header */


/* #region main */

/* #region hero_image */
.hero_image {
    padding-top: 10%;
    background-color: var(--db-colored-bg);
    font-size: 0.70rem;
    padding-bottom: 1%;
}

.hero_image h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-left: 0;
}

.hero_image p {

    padding-bottom: 10%;
}

.hero_image .button {
    margin-bottom: 10%;
}

.arrow {
    padding-top: 20%;
    font-size: 3rem;
}

/* #endregion hero_image */


/* #region payments */
.payments>.row {
    justify-content: space-between;
    padding-top: 3rem;
}

.payments {
    margin-top: 15%;

}

.payments 

.payments span {
    padding-right: 1rem;
}

/* #endregion payments */


/* #region payments>col da_rivedere */
.offer {
    font-size: 0.65rem;

}

.offer.col_3 {
    flex-grow: 1;
    margin: 0 1rem;

}

.offer.row {
    margin: 0 -1rem;
}

.offer_body,
.offer_head {
    border: 1px solid var(--db-light-bg);
    font-weight: 200;
}

.offer_head {
    border-bottom: none;
    text-align: center;
    padding: 0.5rem;
}

.offer_body {
    flex-direction: column;
    padding: 2rem 1.25rem;
    height: 100%;
}

.offer_body>div>div {
    margin-bottom: 1.5rem;
}

.offer_body>.summary>div,
.offer_body>.details>div {
    position: relative;
}

.offer_body .for_whom {
    flex-direction: column;
}

.offer_body .details {
    flex-direction: column;
}

.offer_body .call_to_action {
    flex-direction: column;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.offer_body .summary {
    flex-direction: column;
}


.offer_body>.summary>h4 {
    padding-bottom: 1rem;
}

.offer_body>.summary i,
.offer_body>.details i {
    position: absolute;
    right: 101%;
    top: 15%;
}

.offer_body>.summary i {
    color: var(--db-primary-button);

}

/* #endregion payments>col da_rivedere */

/* #region team */
.team,
.team.top {
    border: 1px solid var(--db-light-bg);
}

.team_body h3 {
    padding-bottom: 1rem;
}

.team_body h5 {
    padding-bottom: 2.35rem;
}

.team {
    font-weight: 300;
}

.team_top {
    border-bottom: 1px solid var(--db-light-bg);
    text-align: center;
    padding: 0.5rem;
}


.team .row{
    padding: 1rem;
}

.team_body {
    padding-bottom: 1.rem;
}

.team_body .d_flex {
    justify-content: end;
}

.team .button {
    height: max-content;
}

/* #endregion team */

/* #region get_in_touch */

.get_in_touch {
    padding: 15% 0;
}

.get_in_touch .col_5 {
    padding: 3rem 1.75rem;
    font-weight: 3 00;
}

/* #endregion get_in_touch */

/* #region db_business */

.db_busines .col_4{
    padding-bottom: 5%;
}

/* #endregion db_business */

/* #region call_to_action */

.call_to_action-team a{
    color: var(--db-primary-button);
    font-size: 0.75rem;
}


/* #endregion call_to_action */


/* #region feedback users */



/* #endregion feedback users */

/* #region call_to_action-enterprise */

.call_to_action-enterprise{
    background-color: var(--db-colored-bg);
    
}

.call_to_action-enterprise{
    padding: 5%;
}
.call_to_action-enterprise h2{
    color: var(--db-h2-secondary);
}

/* #endregion call_to_action-enterprise */

/* #region q&a */
.question {
    border-bottom: 1px solid var(--light-text);
    padding: 3% 0;
}
h2.question{
    padding-bottom: 5%;
}



/* #endregion q&a */


/* #endregion main */


/* #region footer */

footer {
    background-color: var(--db-dark);
}

footer>.row {
    justify-content: center;
}

/* #endregion footer */